@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-image: url(../WD1/Images/bamboo.jpg);
    background-repeat: repeat-x;
}

header > nav > ul.nav_links > li, a, button {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    text-shadow: 2px 2px #130c0c;
}

header > img.logo {
    cursor: pointer;
}

header > nav > ul.nav_links {
    list-style: none;
}

header nav ul.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

header nav ul.nav_links li a {
    transition: all 0.3s ease 0s;
}

header nav ul.nav_links li a:hover {
    color: #0088a9;
}

address {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

address > div {
    height: 100vh;
    width: 100vw;
    background-image: url(../WD1/Images/children-fingers.jpg);
    background-size: cover;
}
address > div > a {
    height: 0;
    width: 0;
}

address > div > p {
    width: 600px;
    height: 600px;
    font-size: 5vw;
    text-align: center;
    color: rgb(120, 156, 90);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px #e4dbdb;
    padding-top: 24%;
    padding-left: 37%;

}

article > div.container_1 {
    display: flex;
    flex-direction: row;
    background-color: #0088a9;
    justify-content: space-evenly;

}
    
article > div.container_1 > div.box1 {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 3em;
    color: #edf0f1;
    text-decoration: none;
    text-align: center;
    padding: 50px;
    border: #24252A;
    border-style: solid;
    text-shadow: 2px 2px #1d1818;
}

article > div.container_1 > div.box1 > img {
    box-shadow: 10px 10px #4ec74e;
    margin-top: 120px;
}

aside {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

aside div.container_2 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #87c6d6;
    justify-content: space-around;
    align-items: center;
}

aside div.container_2 div.quote div {
    display: flex;
    flex-direction: row;
}

aside div.container_2 div.quote div p {
    padding: 70px 50px 10px 50px;
}

aside div.container_2 div.quote div h2 {
    padding-top: 50px;
    padding-left: 50px;
}

aside div.container_2 div.quote {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 3em;
    color: #041318;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px #e4dada;
}

aside div.container_2 div.quote img {
    box-shadow: 10px 10px #24252A;
    margin-right: 60px;
    margin-top: 60px;
}

main a#About {
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: #f9fbfc;
    overflow: auto;
}

main div.main_info p {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 3em;
    color: #031e27;
    text-decoration: none;
    text-align: center;
    padding: 100px;
    padding-top: 220px;
}

section {
    height: 100vh;
    width: 100vw;
    background-image: url(../WD1/Images/classroom.jpg);
    background-size: cover;
    padding-top: 100px;
}

section div.container_3 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section div.container_3 div {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 3em;
    color: #041318;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px #e4dada;
}

section div.container_3 div h3 {
    padding-bottom: 600px;
}

footer {
    height: 10vh;
    width: 100vw;
    background-color: #24252A;
    padding-top: 90px;
}

footer div.container_4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer div.container_4 p {
    color: #edf0f1;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
}